.App {
  text-align: center;
  /* padding-bottom: 100px; */
}

#lol-header {
  padding-top: 25px;
  padding-bottom: 9px;
  font-size: 55px;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Alegreya', serif; */
  font-family: 'Kalam', cursive;
  letter-spacing: -3px;
}

.hover-effect:hover {
  color: rgba(255, 167, 72, 0.796);
  cursor: text;
}

#leaderboards-header {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;
  margin-bottom: 15px;
  /* padding-bottom: 10px; */
  font-size: 31px;
  font-family: 'Nunito', sans-serif;
}

.home {
  /* padding: 60px; */
  display: flex;
  justify-content: space-evenly;
}

#summ-list-names {
  /* color: red; */
  list-style-type: none;
  font-size: 23px;
  /* font-weight: 900; */
  /* font-style: bold; */
}
#summ-list {
  /* color: red; */
  list-style-type: none;
  margin: 0px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.728);
}

.scroll-div {

  /* min-height: 100vh; */
  /* height: 570px; */
  max-height: 89vh;
  min-height: 89vh;
  overflow-y: scroll;
  /* overflow: hidden;  */
  /* border-left: 2px solid rgb(221, 221, 221); */
  width: 250px;
  display: flex;
  flex-direction: column;

  /* margin-bottom: 40px; */
}

.scroll-div::-webkit-scrollbar {
  display: none;
}

#bg-img-div {
  background-image: url('http://res.cloudinary.com/dok4pz3i3/image/upload/v1613183767/summonersrift2-opa50_mtukan.jpg');
  /* background-image: url('http://res.cloudinary.com/dok4pz3i3/image/upload/v1613183701/summonersrift2-opa60_xuunw1.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-position-x: -30px; */
  background-size: cover;
  width: 100%;
  max-width: 100%;
  /* height: 100vh;
  max-height: 100vh;   */
}

#btn-div {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  flex-wrap: wrap;
  /* height: 100vh; */
}

.tier-header{
  /* margin-bottom: 10px; */
  margin-top: 35px;
  /* width: 140px; */
  color: rgba(0, 0, 0, 0.878);
  /* background-color: rgba(131, 157, 241, 0.83); */
  /* border: none; */
  font-size: 28px;
  font-family: 'Nunito', sans-serif;
  border-bottom: 2px solid black;
}


#data-div {
  /* background-color: rgb(188, 155, 255); */
  font-size: 18px;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;
}

#patchnotes-master-div {
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.897);

}

#patch-notes-header {
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  color: white;
}

#patch-notes-div {
  font-size: 19px;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  padding-bottom: 20px;
  min-height: 100vh;
  /* height: 10vh; */
}

#patch-notes-ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.patch-notes-list-item {
  height: 137px;
  overflow-y: scroll;
  width: 350px;
  max-width: 100%;
  padding-left: 15px;
  padding-top: 5px;
  border: 2px solid black;
  border-radius: 5%;
  list-style-type: none;
  margin: 5px;
  margin-right: 38px;
  background-color: rgba(227, 244, 243, 0.748);
}

.patch-notes-list-item::-webkit-scrollbar {
  display: none;
}

/* #loading {
  display: none;
} */

html {
  height: 100%;
}

.loading-div {
  display: flex;
  justify-content: center;
}

.loader {
  /* position: absolute; */
  /* top: calc(50% - 32px); */
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  /* padding-left: 100px; */
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #858585;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #858585;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #858585;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}